@import url("https://rsms.me/inter/inter.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
  background: #F9FAFB;
  color: #133960;
  font-family: "Inter", sans-serif;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #133960;
  border-color: #133960;
  height: 2rem;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #133960;
  background-color: transparent;
  border-color: #133960;
  box-shadow: none;
}

.btn-outline-primary {
  color: #133960;
  background-color: transparent;
  border-color: #133960;
  height: 2rem;
}
.btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:hover {
  color: #FFFFFF;
  background-color: #133960;
  border-color: #133960;
  box-shadow: none;
}

.feed-filter-hint-container {
  height: 2rem;
}

.feed-filter-outer-container {
  height: 2rem;
  overflow: hidden;
}

.feed-filter-inner-container {
  height: 3.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.inline-link {
  color: #133960;
  font-weight: 500;
  text-decoration: none;
}
.inline-link:active, .inline-link:focus, .inline-link:hover {
  color: #133960;
  font-weight: 500;
  text-decoration: #133960 underline;
}

.keyword-link {
  font-size: 0.875rem;
  text-decoration: none;
}
.keyword-link:hover {
  text-decoration: underline;
}

.icon-link {
  color: #133960;
  text-decoration: none;
}
.icon-link:active, .icon-link:focus, .icon-link:hover {
  color: #133960;
}

.icon-link-hover {
  color: #133960;
  text-decoration: none;
}
.icon-link-hover:active, .icon-link-hover:focus, .icon-link-hover:hover {
  color: #133960;
}
.icon-link-hover:hover .icon-normal, .icon-link-hover .icon-hover {
  display: none;
}
.icon-link-hover .icon-normal, .icon-link-hover:hover .icon-hover {
  display: inline;
}

.bi-play {
  font-size: 1.4rem;
  -webkit-text-stroke: 0.25px white;
}

.bi-play-fill {
  font-size: 1.4rem;
}

.bi-three-dots {
  font-size: 0.85rem;
}

input {
  color: #133960 !important;
}
input:active, input:focus, input:hover {
  border-color: #133960 !important;
  box-shadow: none !important;
}
input::placeholder {
  color: rgba(19, 57, 96, 0.7) !important;
  font-size: 0.875rem;
}

label {
  color: #133960;
  font-size: 0.95rem;
}

header {
  background: #FFFFFF;
}

.navbar-brand-container {
  width: 7.5rem;
}

.navbar-brand-image {
  height: 3.5rem;
}

.navbar-account-container {
  width: 7.5rem;
}

.nav-item {
  padding: 0 0.5rem;
}

.nav-link {
  color: rgba(19, 57, 96, 0.7);
  font-size: 0.875rem;
  font-weight: 500;
}
.nav-link:active, .nav-link:focus, .nav-link:hover {
  color: #133960;
}

.podcast-overview .podcast-overview-title {
  color: #133960;
  font-weight: 500;
  font-size: 1.275rem;
  line-height: 1.25rem;
  text-decoration: none;
}
.podcast-overview .podcast-overview-title:active, .podcast-overview .podcast-overview-title:focus, .podcast-overview .podcast-overview-title:hover {
  text-decoration: #133960 underline;
}
.podcast-overview .podcast-overview-date {
  font-size: 0.875rem;
  margin: 0;
}
.podcast-overview .podcast-overview-author {
  font-size: 0.875rem;
  margin: 0;
}
.podcast-overview .podcast-overview-author-collapse-action {
  font-weight: 600;
  text-decoration: none;
}
.podcast-overview .podcast-overview-author-collapse-action:active, .podcast-overview .podcast-overview-author-collapse-action:focus, .podcast-overview .podcast-overview-author-collapse-action:hover {
  text-decoration: underline;
}
.podcast-overview .dropdown-menu {
  color: #133960;
  font-size: 0.9rem;
  padding: 0;
}
.podcast-overview .dropdown-menu .dropdown-item {
  padding: 0.15rem 0.5rem;
}
.podcast-overview .dropdown-menu .dropdown-item:active, .podcast-overview .dropdown-menu .dropdown-item:focus, .podcast-overview .dropdown-menu .dropdown-item:hover {
  background: #133960;
  color: #FFFFFF;
}
.podcast-overview .dropdown-menu .dropdown-divider {
  margin: 0.25rem 0;
}
.podcast-overview .podcast-overview-author-link {
  color: #133960;
  font-weight: 500;
  text-decoration: none;
}
.podcast-overview .podcast-overview-author-link:active, .podcast-overview .podcast-overview-author-link:focus, .podcast-overview .podcast-overview-author-link:hover {
  color: #133960;
  font-weight: 500;
  text-decoration: #133960 underline;
}
.podcast-overview .podcast-overview-author-avatar {
  border-radius: 50%;
  height: 3rem;
  margin-left: 0.75rem;
  width: 3rem;
}
.podcast-overview .podcast-overview-creator-profile {
  color: #000000;
  line-height: 1.15rem;
  min-width: 17.5rem;
  padding: 0.75rem;
}
.podcast-overview .podcast-overview-creator-profile .podcast-overview-creator-profile-avatar {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
}
.podcast-overview .podcast-overview-creator-profile .podcast-overview-creator-profile-description {
  font-size: 0.85rem;
  line-height: 0.95rem;
  margin: 0;
}
.podcast-overview .podcast-overview-creator-profile .podcast-overview-creator-profile-metric {
  font-size: 0.8rem;
  margin: 0;
}

/*# sourceMappingURL=primary.css.map */
