<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>PodScholar | Use Policy</title>

		<link rel="shortcut icon" href="/asset/img/brand/brand-primary.svg">

		<link rel="stylesheet" href="/asset/css/bootscholar.css">
	</head>

	<body>
		<header class="border-bottom">
			<nav class="navbar navbar-expand-lg">
				<div class="container">
					<div class="navbar-brand-container">
						<a class="navbar-brand" href="/">
							<img class="navbar-brand-image" src="/asset/img/brand/brand-primary.svg" alt="PodScholar">
						</a>
					</div>

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle Navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div id="navigation" class="collapse navbar-collapse">
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item dropdown">
								<a id="navbar-browse-dropdown" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Browse</a>

								<ul class="dropdown-menu" aria-labelledby="navbar-browse-dropdown">
									<li><a class="dropdown-item" href="/browse/category">Category</a></li>
									<li><a class="dropdown-item" href="/browse/creator">Creator</a></li>
									<li><a class="dropdown-item" href="/browse/keyword">Keyword</a></li>
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="/faq">Pricing & FAQ</a></li>
							<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
							<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
						</ul>

						<div class="navbar-user-profile-container">
							{{{ userProfileContent }}}
						</div>
					</div>
				</div>
			</nav>
		</header>

		<main class="policy my-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="d-flex flex-column col-lg-10 col-md-12 text-center justify-content-center mb-3">
						<h4 class="text-muted">PodScholar</h4>
						<h1>Use Policy</h1>
						<div class="text-start mt-3">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
								irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
								pariatur.</p>

							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
								nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
								assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
								debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
								molestiae non recusandae.</p>
						</div>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="d-flex flex-column col-lg-10 col-md-12 text-center text-md-start">
						<h3 class="txt-secondary">Terms of Use</h3>
						<hr>
						<div class="text-start">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio.</p>

							<p>Temporibus autem quibusdam et aut officiis
								debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
								molestiae non recusandae.</p>

							<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque
								nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
								assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
								debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
								molestiae non recusandae.</p>
						</div>
					</div>
				</div>

				<div class="row justify-content-center mt-4">
					<div class="d-flex flex-column col-lg-10 col-md-12 text-center text-md-start">
						<h3 class="txt-secondary">Account Registration</h3>
						<hr>
						<div class="text-start">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio.</p>
						</div>

						<h5>Conditions for Account Registration</h5>
						<div class="text-start">
							<ul>
								<li class="py-2">Nam libero tempore, cum soluta nobis est eligendi optio cumque
									nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
									assumenda est, omnis dolor repellendus.</li>
								<li class="py-2"> Temporibus autem quibusdam et aut officiis
									debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
									molestiae non recusandae.</li>
								<li class="py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
								<li class="py-2">Ut enim ad minim veniam, quis nostrud
									exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
								<li class="py-2">Nam libero tempore, cum soluta nobis est eligendi optio cumque
									nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
									assumenda est, omnis dolor repellendus.</li>
							</ul>
						</div>

						<h5>Conditions for Author Registration</h5>
						<div class="text-start">
							<ul>
								<li class="py-2"> Temporibus autem quibusdam et aut officiis
									debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
									molestiae non recusandae.</li>
								<li class="py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
								<li class="py-2">Ut enim ad minim veniam, quis nostrud
									exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
								<li class="py-2">Nam libero tempore, cum soluta nobis est eligendi optio cumque
									nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
									assumenda est, omnis dolor repellendus.</li>
							</ul>
						</div>

						<h5>Account Termination</h5>
						<div class="text-start">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident.</p>
							<ul>
								<li class="py-2">Ut enim ad minim veniam, quis nostrud
									exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
								<li class="py-2">Nam libero tempore, cum soluta nobis est eligendi optio cumque.</li>
							</ul>
						</div>

						<h5>Account Suspension and Deletion</h5>
						<div class="text-start">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident.</p>
							<p>voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident deleniti atque corrupti quos dolores et quas
								molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio.</p>
						</div>
					</div>
				</div>

				<div class="row justify-content-center mt-4">
					<div class="d-flex flex-column col-lg-10 col-md-12 text-center text-md-start">
						<h3 class="txt-secondary">User Content</h3>
						<hr>
						<div class="text-start">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio.</p>
						</div>

						<h5>Rights regarding content provided by Users</h5>
						<div class="text-start">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio.</p>

							<ul>
								<li class="py-2">Ut enim ad minim veniam, quis nostrud
									exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
								<li class="py-2">Nam libero tempore, cum soluta nobis est eligendi optio cumque.</li>
							</ul>
						</div>

						<h5>Liability for Provided Content</h5>
						<div class="text-start">
							<p>Atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio.</p>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio.</p>

							<ul>
								<li class="py-2">Ut enim ad minim veniam, quis nostrud
									exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
								<li class="py-2">Nam libero tempore, cum soluta nobis est eligendi optio cumque.</li>
								<li class="py-2">Ut enim ad minim veniam, quis nostrud
									exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
								<li class="py-2">Nam libero tempore, cum soluta nobis est eligendi optio cumque.</li>
							</ul>

							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio.</p>
						</div>

						<h5>Access to Provided Content</h5>
						<div class="text-start">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio.</p>
						</div>
					</div>
				</div>

				<div class="row justify-content-center mt-4">
					<div class="d-flex flex-column col-lg-10 col-md-12 text-center text-md-start">
						<h3 class="txt-secondary">Payment and Access</h3>
						<hr>
						<div class="text-start">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
								occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio.</p>

							<p>Temporibus autem quibusdam et aut officiis
								debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
								molestiae non recusandae similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio.</p>
						</div>
					</div>
				</div>

				<div class="row justify-content-center py-4">
					<div class="d-flex flex-column col-lg-5 col-md-12 text-center text-md-start">
						<div class="d-grid">
							<button class="btn btn-primary pb-2">Try PodScholar</button>
						</div>
					</div>
				</div>

			</div>
		</main>

		<footer class="border-top">
			<div class="container">
				<div class="footer-navigation-row">
					<div class="footer-navigation-col">
						<a class="footer-navigation-item" href="/about">About</a>
					</div>

					<div class="footer-navigation-col">
						<a class="footer-navigation-item" href="/faq">Pricing & FAQ</a>
					</div>

					<div class="footer-navigation-col">
						<a class="footer-navigation-item" href="/policy/privacy">Privacy Policy</a>
					</div>

					<div class="footer-navigation-col">
						<a class="footer-navigation-item" href="/policy/use">Use Policy</a>
					</div>

					<div class="footer-navigation-col">
						<a class="footer-navigation-item" href="/contact">Contact</a>
					</div>
				</div>

				<div class="footer-social-row">
					<div class="footer-social-col">
						<a class="footer-social-item" href="#"><i class="bi bi-facebook"></i></a>
					</div>

					<div class="footer-social-col">
						<a class="footer-social-item" href="#"><i class="bi bi-instagram"></i></a>
					</div>

					<div class="footer-brand-col">
						<a href="/"><img class="footer-brand-image" src="/asset/img/brand/brand-primary.svg" alt="PodScholar"></a>
					</div>

					<div class="footer-social-col">
						<a class="footer-social-item" href="#"><i class="bi bi-github"></i></a>
					</div>

					<div class="footer-social-col">
						<a class="footer-social-item" href="#"><i class="bi bi-twitter"></i></a>
					</div>
				</div>

				<div class="footer-copyright-row">
					<div class="footer-copyright-col">
						<p class="footer-copyright">&copy; Michael Muzzarelli, Jyhdel Pamonag, Robert Adams. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="/asset/vendor/bootstrap/js/dist/bootstrap.bundle.min.js"></script>
		<script src="/asset/js/pageHeight.utility.js"></script>
	</body>
</html>