.btn-primary
	color:              $white
	background-color:   $primary
	border-color:       $primary

	&:active, &:focus, &:hover
		color:              $primary
		background-color:   transparent
		border-color:       $primary
		box-shadow:         none

	&.btn-sm
		height:             2rem

.btn-outline-primary
	color:              $primary
	background-color:   transparent
	border-color:       $primary

	&:active, &:focus, &:hover
		color:              $white
		background-color:   $primary
		border-color:       $primary
		box-shadow:         none

	&.btn-sm
		height:             2rem