input
	color:      $primary    !important

	&:active, &:focus, &:hover
		border-color:   $primary    !important
		box-shadow:     none        !important

	&::placeholder
		color:      rgba($primary, 0.7)    !important
		font-size: 0.875rem

label
	color:      $primary
	font-size:  0.95rem